/* ===========BUTTON-CHANGE=========== */

.all button{
    justify-content: space-between;
    font-family: 'Poppins'sans-serif;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}