/* ===========ZERO-CHANGE=============== */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    font-size: 35px;
    /* transform: translateY(100px); */
}
.zero{
    display: flex;
    transform: translateY(300px);
}
.zero h1{
    display:flex;
    transform: translateX(195px);
}
.zero button{
    margin-top: 8vh;
    width: 80px;
    height: 80px;
    background: #58555A;
    color: white;
    margin-right: 50px;
    border-radius: 25px;
    border: none;
    font-size: 30px;
    user-select:none ;
    cursor:pointer;
}
#reset{
    width: 120px;
    height: 100px;
}

[id="heart"] {
    position: absolute;
    left: -100vw;
  }
  
  [for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    font-size: 6em;
    align-self: center;  
    transition: color 0.2s ease-in-out;
  }
  
  [for="heart"]:hover {
    color: grey;
  }
  
  [for="heart"]::selection {
    color: none;
    background: transparent;
  }
  
  [for="heart"]::moz-selection {
    color: none;
    background: transparent;
  }
  
  [id="heart"]:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
  }
  
  
  
  @keyframes heart {0%, 17.5% {font-size: 0;}}
  